name: Auto Generate Index

on:
  schedule:
    - cron: "0 */2 * * *"
  push:
    paths:
      - "**/*.zip"
  workflow_dispatch:

concurrency:
  group: auto-generate-index
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Generate smart index
        run: python generate_index.py

      - name: Commit and push changes (safe)
        run: |
          set -e

          git config user.name "github-actions"
          git config user.email "actions@github.com"

          # adiciona CRIAÇÃO, MODIFICAÇÃO E REMOÇÃO
          git add -A

          # se não houve mudança real, sai
          if git diff --cached --quiet; then
            echo "No changes to commit"
            exit 0
          fi

          git commit -m "Auto update index (latest zip only)"

          git pull --rebase origin master
          git push origin master
